<h1><%= @attraction.name %></h1><br><br>

<% if admin? %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
  <div>
    <%= form_for @ride do |form| %>
      <%= form.hidden_field :attraction_id, value: @attraction.id %>
      <%= form.submit "Go on this ride" %>
    <% end %>
  </div>
<% end %><br><br>